body{
    background-color: whitesmoke;
    color: black;
}
.mgLneg{
    margin-left: -2%;
    margin-right: -2%;
}

.mainCont{
    padding: 1% 5% 1% 5%;
}

.footer{
    padding: 10px;
    color: white;
    text-align: center;
    background-color: rgb(0,150,136);
  }